@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700&display=swap');

.nav-primary{
  @apply h-16 bg-black w-full;
}

.user-avatar{
  bottom: -63px;
  position: absolute;
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 100%;
  border: 3px solid #aeffac;
}

.nav-user-control{
  top: 64px;
  max-width: 197px;
  height: 211px;
  @apply fixed bg-white rounded-br-sm rounded-bl-sm p-3 text-black
}

.form-control{
  @apply border border-gray-400 rounded px-2 outline-none
}

.form-control:hover{
  @apply border-gray-600;
}

.btn-primary{
  @apply bg-primary text-center p-btn rounded-sm text-black
}

.btn-secondary{
  @apply shadow-btn-secondary text-center p-btn rounded-sm text-black
}

.filter-link-active{
  @apply bg-grey rounded
}

.filter-link{
  @apply text-black p-btn font-medium
}

.filter-link:hover{
  @apply bg-grey rounded
}

.filter-area{
  @apply w-full h-16 bg-white flex flex-row items-center justify-between shadow-outlined
}

.image-item{
  @apply h-64 rounded border-solid border-white shadow-image-item p-2;
  border-width: 8px;
  margin-bottom: 20px;
}

.p-primary{
  padding: 25px;
}

@media (min-width: 768px) { 
  .p-primary{
    padding: 80px;
  }
}

.item-meta{
  @apply flex flex-row justify-between
}

.item-display{
  height: 80%;
  overflow: hidden
}

.item-display img{
  border-radius: 3px;
}

@keyframes shiny{
  0%{
    background: linear-gradient( #AEFFAC 0%,  #5a8259 100%)
  }

  25%{
    background: linear-gradient(#AEFFAC 25%, #5a8259 75%) 
  }

  50%{
    background: linear-gradient(#AEFFAC 50%,#5a8259 50%)
  }

  100%{
    background:linear-gradient(#AEFFAC 25%, #5a8259 75%)
  }
}

.dash{
  @apply block h-dash w-full bg-dark-grey my-2
}

.shiny-green{
  // animation-name: shiny;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  background:linear-gradient(to right, #AEFFAC, #5a8259);
  transition: all 2s;  
}

/**
* Vue Transitions
*
*/



.close-btn{
  position: absolute;
  left: 73%;
  top: 11%;
  text-transform: lowercase;
  font-weight: 500;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  text-align: center;
  border: 2px solid white;
  font-size: 17px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply bg-primary cursor-pointer
}

.nav-info{
  top: 19px;
  left: -13px;
  padding: 0px 5px;
  font-size: 0.55rem;
  border-radius: 3px;
  color: #fff;
  width: 100px;
  position: absolute;
}