@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700&display=swap');

.nav-primary{
  @apply h-16 bg-black w-full;
}

.user-avatar-area{
  bottom: -46px;
  left: 70px;
  z-index: 9;
  position: absolute;
}

.profile-follow-btn{
    left: calc(100% - 149px);
}

.profile-sidebar{
  @apply w-3/12 bg-white px-5 py-8 rounded mr-10 border-1 border-grey sticky top-20 flex flex-col flex-wrap;
  min-height: 350px;
  max-height: 90vh;
}

.skill-item{
  @apply border-grey border-1 rounded mb-2 px-2 py-1 text-black text-sm leading-tight
}

.skill-item:hover{
  @apply border-primary
}

.bio-item{
  @apply w-full h-12 flex flex-col items-center h-auto
}

.user-avatar-area img{
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 100%;
  border: 3.5px solid #aeffac;
}

.pro-badge{
  @apply pro-badge text-sm bg-primary rounded px-2
}

.user-profile-subhead{
  height: 70px;
  border: 1px solid #ebebeb;
}

.top-20{
  top: 20px;
}

.nav-user-control{
  top: 64px;
  max-width: 197px;
  height: 211px;
  @apply fixed bg-white rounded-br-sm rounded-bl-sm p-3 text-black
}

.form-control{
  @apply border border-gray-400 rounded px-2 outline-none
}

.form-control:hover{
  @apply border-gray-600;
}

.btn-primary{
  @apply bg-primary text-center p-btn rounded-sm text-black
}

.btn-secondary{
  @apply shadow-btn-secondary text-center p-btn rounded-sm text-black
}

.filter-link-active{
  @apply bg-grey rounded
}

.filter-link{
  @apply text-black p-btn font-medium
}

.filter-link:hover{
  @apply bg-grey rounded
}

.filter-area{
  @apply w-full h-16 bg-white flex flex-row items-center justify-between shadow-outlined
}

.like-btn{
  @apply h-12 w-12 rounded-full bg-primary-light text-center flex flex-col items-center justify-center
}

.like-btn:hover{
  @apply bg-primary
}

.image-item{
  @apply h-64 rounded border-solid border-white shadow-small-outline p-2;
  border-width: 8px;
  margin-bottom: 20px;
  width: 30%;
}

.p-primary{
  padding: 25px;
}

@media (min-width: 768px) { 
  .p-primary{
    padding: 80px;
  }
}

.item-meta{
  @apply flex flex-row justify-between
}

.item-display{
  height: 80%;
  overflow: hidden
}

.item-display img{
  border-radius: 3px;
}

@keyframes shiny{
  0%{
    background: linear-gradient( #AEFFAC 0%,  #5a8259 100%)
  }

  25%{
    background: linear-gradient(#AEFFAC 25%, #5a8259 75%) 
  }

  50%{
    background: linear-gradient(#AEFFAC 50%,#5a8259 50%)
  }

  100%{
    background:linear-gradient(#AEFFAC 25%, #5a8259 75%)
  }
}

.dash{
  @apply block h-dash w-full bg-dark-grey my-2
}

.shiny-green{
  // animation-name: shiny;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  background:linear-gradient(to right, #AEFFAC, #5a8259);
  transition: all 2s;  
}

/**
* Vue Transitions
*
*/



.close-btn{
  position: absolute;
  left: 73%;
  top: 11%;
  text-transform: lowercase;
  font-weight: 500;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  text-align: center;
  border: 2px solid white;
  font-size: 17px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply bg-primary cursor-pointer
}

.nav-info{
  top: 19px;
  left: -13px;
  padding: 0px 5px;
  font-size: 0.55rem;
  border-radius: 3px;
  color: #fff;
  width: 100px;
  position: absolute;
}